[package]
authors = ["Christopher Brickley <brickley@gmail.com>"]
build = "build.rs"
description = "A rust crate for sending messages to Slack via webhooks."
homepage = "https://github.com/frostly/rust-slack"
keywords = ["slack", "webhook", "hook", "messaging"]
license = "MIT/Apache-2.0"
name = "slack-hook"
readme = "README.md"
repository = "https://github.com/frostly/rust-slack"
version = "0.1.3"

[build-dependencies]
serde_codegen = "0.8.8"

[dependencies]
curl = "0.3.0"
hex = "0.2.0"
log = "0.3.6"
quick-error = "1.1.0"
serde = "0.8.8"
serde_json = "0.8.1"

[dependencies.clippy]
optional = true
version = "^0.0"

[features]
unstable = []
